.root {
    -fx-background: #472D3C;
}

.menubar {
    -fx-alignment: bottom-center;
    -fx-pref-width: 250px;
    -fx-background-color: #000;
}

.player-stats {
    -fx-pref-width: 300px;
    -fx-padding: 20;
    -fx-vgap: 10;
}

.button {
    -fx-vgap: 130;
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-border-style: none;
    -fx-background-color:
            #090a0c,
            linear-gradient(#80586f 0%, #59314a 20%, #421933 100%),
            linear-gradient(#59314a, #421933),
            radial-gradient(center 50% 0%, radius 100%, rgba(128, 88, 111, 0.61), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.34), 5, 0.0 , 0 , 1 );
    -fx-font-family: "Verdana";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color:
            #090a0c,
            linear-gradient(#8a5a77 0%, #733a65 20%, #572043 100%),
            linear-gradient(#855474, #64294d),
            radial-gradient(center 50% 0%, radius 100%, rgba(128, 88, 111, 0.61), rgba(255,255,255,0));
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.label, .saveFileButton {
    -fx-font-size: 16px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.saveFileButton {
    -fx-start-margin: 30;
    -fx-end-margin: 30;
    -fx-gap-start-and-end: 30;
}

.gameOverWindow, .exitWindow, .saveWindow {
    -fx-background-color: #472D3C;
    -fx-vgap: 50;
    -fx-min-height: 350px;
}

.gameOverWindow .label, .exitWindow .label, .controlsWindow .label, .saveWindow .label {
    -fx-text-alignment: center;
}

.controlsWindow, .saveWindow, .titleContainer, .buttonContainer {
    -fx-alignment: center;
}

.controlsTitle {
    -fx-font-size: 25px;
}